In [1]:
import pandas as pd

In [2]:
training_data = pd.read_csv(f'../dataset/power-laws-forecasting-energy-consumption-training-data.csv', delimiter=';')
training_data
test_data = pd.read_csv(f'../dataset/power-laws-forecasting-energy-consumption-test-data.csv', delimiter=';')
test_data

          obs_id  SiteId                  Timestamp  ForecastId          Value
0         323604     235  2014-01-02T19:00:00+00:00        5004  157265.446409
1        2813181     235  2014-01-02T22:00:00+00:00        5004  155498.418922
2        4006999     235  2014-01-02T22:45:00+00:00        5004  155498.418922
3         106973     235  2014-01-03T00:30:00+00:00        5004  157265.446409
4        6793052     235  2014-01-13T14:15:00+00:00        5005   91885.429363
...          ...     ...                        ...         ...            ...
1309171   268524     261  2014-03-24T03:00:00+00:00        5487   38545.410018
1309172  3203969     261  2014-03-24T12:30:00+00:00        5487   48937.146780
1309173  7721495     261  2014-03-24T22:00:00+00:00        5487            NaN
1309174  5696668     261  2014-03-24T23:30:00+00:00        5487            NaN
1309175  4671263     261  2014-03-25T01:15:00+00:00        5487            NaN

[1309176 rows x 5 columns]

In [3]:
weather_data = pd.read_csv(f'../dataset/power-laws-forecasting-energy-consumption-weather.csv', delimiter=';')
weather_data

                         Timestamp  Temperature   Distance  SiteId
0        2017-03-03T19:00:00+00:00         10.6  27.489346      51
1        2017-03-03T19:20:00+00:00         11.0  28.663082      51
2        2017-03-03T20:00:00+00:00          6.3  28.307039      51
3        2017-03-03T21:55:00+00:00         10.0  29.797449      51
4        2017-03-03T23:00:00+00:00          5.4  28.307039      51
...                            ...          ...        ...     ...
3957030  2016-09-11T11:00:00+00:00         25.9  28.307039      51
3957031  2016-09-11T11:20:00+00:00         27.0  27.489346      51
3957032  2016-09-11T12:00:00+00:00         27.1  28.307039      51
3957033  2016-09-11T15:50:00+00:00         28.0  27.489346      51
3957034  2016-09-11T18:00:00+00:00         29.6  29.797449      51

[3957035 rows x 4 columns]

In [4]:
forecast_data = pd.read_csv(f'../dataset/power-laws-forecasting-energy-consumption-submission-forecast-period.csv', delimiter=';')
forecast_data

      ForecastId  ForecastPeriodNS
0            123      900000000000
1            264      900000000000
2            596      900000000000
3            914      900000000000
4           1053      900000000000
...          ...               ...
6969        6387      900000000000
6970        6487     3600000000000
6971        6569      900000000000
6972        6777      900000000000
6973        6869      900000000000

[6974 rows x 2 columns]

In [5]:
metadata = pd.read_csv(f'../dataset/power-laws-forecasting-energy-consumption-metadata.csv', delimiter=';')
metadata

,SiteId,Surface,Sampling,BaseTemperature,MondayIsDayOff,TuesdayIsDayOff,WednesdayIsDayOff,ThursdayIsDayOff,FridayIsDayOff,SaturdayIsDayOff,SundayIsDayOff
0,207,7964.873347,30.0,18.0,False,False,False,False,False,True,True
1,7,15168.125971,30.0,18.0,False,False,False,False,False,True,True
2,74,424.340663,15.0,18.0,False,False,False,False,False,True,True
3,239,1164.822636,15.0,18.0,False,False,False,False,False,True,True
4,274,1468.246690,5.0,18.0,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...
262,192,11188.881545,15.0,18.0,False,False,False,False,False,True,True
263,58,1149.050606,15.0,18.0,False,False,False,False,False,True,True
264,123,5470.205018,15.0,18.0,False,False,False,False,False,True,True
265,122,6843.612340,15.0,18.0,False,False,False,False,False,True,True
266,230,5802.693730,15.0,18.0,False,False,False,False,False,True,True

In [6]:
holiday_data = pd.read_csv(f'../dataset/power-laws-forecasting-energy-consumption-holidays.csv', delimiter=';')
holiday_data

            Date                       Holiday  SiteId
0     2016-02-15         Washington's Birthday       1
1     2017-05-29                  Memorial Day       1
2     2017-11-23              Thanksgiving Day       1
3     2017-12-29           New Years Eve Shift       1
4     2017-12-31                 New Years Eve       1
...          ...                           ...     ...
8382  2015-12-26                    Boxing Day     303
8383  2016-05-01    International Workers' Day     304
8384  2015-04-25                Liberation Day     304
8385  2016-03-28                 Easter Monday     305
8386  2016-08-15  Assumption of Mary to Heaven     305

[8387 rows x 3 columns]

In [7]:
training_data = pd.merge(training_data, metadata, on='SiteId')
training_data
test_data = pd.merge(test_data, metadata, on='SiteId')
test_data

,obs_id,SiteId,Timestamp,ForecastId,Value,Surface,Sampling,BaseTemperature,MondayIsDayOff,TuesdayIsDayOff,WednesdayIsDayOff,ThursdayIsDayOff,FridayIsDayOff,SaturdayIsDayOff,SundayIsDayOff
0,323604,235,2014-01-02T19:00:00+00:00,5004,157265.446409,10906.977168,15.0,18.0,False,False,False,False,False,True,True
1,2813181,235,2014-01-02T22:00:00+00:00,5004,155498.418922,10906.977168,15.0,18.0,False,False,False,False,False,True,True
2,4006999,235,2014-01-02T22:45:00+00:00,5004,155498.418922,10906.977168,15.0,18.0,False,False,False,False,False,True,True
3,106973,235,2014-01-03T00:30:00+00:00,5004,157265.446409,10906.977168,15.0,18.0,False,False,False,False,False,True,True
4,6793052,235,2014-01-13T14:15:00+00:00,5005,91885.429363,10906.977168,15.0,18.0,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1309171,7707783,174,2017-11-30T19:45:00+00:00,3510,29927.876062,587.763238,15.0,18.0,False,False,False,False,False,True,True
1309172,1873823,174,2017-11-30T21:45:00+00:00,3510,15303.633895,587.763238,15.0,18.0,False,False,False,False,False,True,True
1309173,7376879,174,2017-12-03T06:45:00+00:00,3510,12752.003943,587.763238,15.0,18.0,False,False,False,False,False,True,True
1309174,1259696,174,2017-12-03T15:45:00+00:00,3510,13869.983259,587.763238,15.0,18.0,False,False,False,False,False,True,True
1309175,4458922,174,2017-12-03T22:45:00+00:00,3510,13433.630512,587.763238,15.0,18.0,False,False,False,False,False,True,True

In [8]:
training_data = pd.merge(training_data, forecast_data, on='ForecastId')
test_data = pd.merge(test_data, forecast_data, on='ForecastId')

In [9]:
training_data['Date'] = pd.to_datetime(training_data['Timestamp']).dt.date
test_data['Date'] = pd.to_datetime(test_data['Timestamp']).dt.date

In [10]:
training_data = pd.merge(training_data, holiday_data, on=['SiteId', 'Date'], how='left')
test_data = pd.merge(test_data, holiday_data, on=['SiteId', 'Date'], how='left')

In [11]:
training_data_merged = pd.merge(training_data, weather_data, on=['Timestamp', 'SiteId'], how='left')
test_data_merged = pd.merge(test_data, weather_data, on=['Timestamp', 'SiteId'], how='left')

In [12]:
left_cols = [col for col in training_data.columns]

training_data_merged['Index'] = training_data_merged.groupby(['SiteId', 'Timestamp']).cumcount() + 1
training_data_pivot = training_data_merged.pivot(index=left_cols, columns='Index', values=['Temperature', 'Distance']).reset_index()
training_data_pivot.columns = [f'{col[0]}_{col[1]}' if col[0] not in left_cols else col[0] for col in training_data_pivot.columns]

test_data_merged['Index'] = test_data_merged.groupby(['SiteId', 'Timestamp']).cumcount() + 1
test_data_pivot = test_data_merged.pivot(index=left_cols, columns='Index', values=['Temperature', 'Distance']).reset_index()
test_data_pivot.columns = [f'{col[0]}_{col[1]}' if col[0] not in left_cols else col[0] for col in test_data_pivot.columns]

test_data_pivot

,obs_id,SiteId,Timestamp,ForecastId,Value,Surface,Sampling,BaseTemperature,MondayIsDayOff,TuesdayIsDayOff,...,Date,Holiday,Temperature_1,Temperature_2,Temperature_3,Temperature_4,Distance_1,Distance_2,Distance_3,Distance_4
0,2,119,2015-01-05T18:30:00+00:00,2378,1971.344365,18648.464511,15.0,18.0,False,False,...,2015-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,112,2015-11-08T15:30:00+00:00,2276,876.615143,8554.793631,15.0,18.0,False,False,...,2015-11-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4,22,2016-06-17T17:10:00+00:00,703,15091.513995,7392.365415,10.0,18.0,False,False,...,2016-06-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11,302,2013-01-11T18:30:00+00:00,6821,45430.633875,21284.578622,15.0,18.0,False,False,...,2013-01-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27,6,2013-04-18T17:45:00+00:00,51,43082.633137,9150.195373,30.0,18.0,False,False,...,2013-04-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1309171,7868980,63,2017-11-08T14:30:00+00:00,1511,12923.387161,1629.458932,15.0,18.0,False,False,...,2017-11-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1309172,7868989,287,2016-10-15T13:30:00+00:00,6428,7998.454103,22495.507056,15.0,18.0,False,False,...,2016-10-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1309173,7868992,120,2016-03-05T00:45:00+00:00,2511,2959.836376,8793.378373,15.0,18.0,False,False,...,2016-03-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1309174,7868993,27,2017-05-30T22:45:00+00:00,873,144635.916423,17.321667,15.0,18.0,False,False,...,2017-05-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1309175,7869003,232,2016-07-28T04:45:00+00:00,4836,1058.203596,3403.143021,15.0,18.0,False,False,...,2016-07-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
def dataoveriew(data, message):
    print(f'{message}:\n')
    print('Number of rows: ', data.shape[0])
    print("\nNumber of features:", data.shape[1])
    print("\nData Features:")
    print(data.columns.tolist())
    print("\nMissing values:", data.isnull().sum().values.sum())
    print("\nUnique values:")
    print(data.nunique())

dataoveriew(training_data_pivot, 'Overview of the dataset')
dataoveriew(test_data_pivot, 'Overview of the dataset')

Overview of the dataset:

Number of rows:  6559830

Number of features: 26

Data Features:
['obs_id', 'SiteId', 'Timestamp', 'ForecastId', 'Value', 'Surface', 'Sampling', 'BaseTemperature', 'MondayIsDayOff', 'TuesdayIsDayOff', 'WednesdayIsDayOff', 'ThursdayIsDayOff', 'FridayIsDayOff', 'SaturdayIsDayOff', 'SundayIsDayOff', 'ForecastPeriodNS', 'Date', 'Holiday', 'Temperature_1', 'Temperature_2', 'Temperature_3', 'Temperature_4', 'Distance_1', 'Distance_2', 'Distance_3', 'Distance_4']

Missing values: 58288521

Unique values:
obs_id               6559830
SiteId                   267
Timestamp             598747
ForecastId              6974
Value                1933852
Surface                  267
Sampling                   4
BaseTemperature            3
MondayIsDayOff             1
TuesdayIsDayOff            1
WednesdayIsDayOff          1
ThursdayIsDayOff           1
FridayIsDayOff             2
SaturdayIsDayOff           2
SundayIsDayOff             2
ForecastPeriodNS           3
Date                    2931
Holiday                    0
Temperature_1            485
Temperature_2            415
Temperature_3            357
Temperature_4            247
Distance_1                50
Distance_2                39
Distance_3                22
Distance_4                 9
dtype: int64
Overview of the dataset:

Number of rows:  1309176

Number of features: 26

Data Features:
['obs_id', 'SiteId', 'Timestamp', 'ForecastId', 'Value', 'Surface', 'Sampling', 'BaseTemperature', 'MondayIsDayOff', 'TuesdayIsDayOff', 'WednesdayIsDayOff', 'ThursdayIsDayOff', 'FridayIsDayOff', 'SaturdayIsDayOff', 'SundayIsDayOff', 'ForecastPeriodNS', 'Date', 'Holiday', 'Temperature_1', 'Temperature_2', 'Temperature_3', 'Temperature_4', 'Distance_1', 'Distance_2', 'Distance_3', 'Distance_4']

Missing values: 11633766

Unique values:
obs_id               1309176
SiteId                   267
Timestamp             301774
ForecastId              6974
Value                 609436
Surface                  267
Sampling                   4
BaseTemperature            3
MondayIsDayOff             1
TuesdayIsDayOff            1
WednesdayIsDayOff          1
ThursdayIsDayOff           1
FridayIsDayOff             2
SaturdayIsDayOff           2
SundayIsDayOff             2
ForecastPeriodNS           3
Date                    2269
Holiday                    0
Temperature_1            432
Temperature_2            380
Temperature_3            248
Temperature_4            120
Distance_1                49
Distance_2                36
Distance_3                19
Distance_4                 8
dtype: int64

In [14]:
training_fill_values = {
    'Temperature_1': training_data_pivot['Temperature_1'].mean(),  
    'Temperature_2': training_data_pivot['Temperature_2'].mean(),  
    'Temperature_3': training_data_pivot['Temperature_3'].mean(),  
    'Temperature_4': training_data_pivot['Temperature_4'].mean(),  
    'Distance_1': 0,  
    'Distance_2': 0,  
    'Distance_3': 0,  
    'Distance_4': 0,  
    'Holiday': ''
}
test_fill_values = {
    'Temperature_1': test_data_pivot['Temperature_1'].mean(),  
    'Temperature_2': test_data_pivot['Temperature_2'].mean(),  
    'Temperature_3': test_data_pivot['Temperature_3'].mean(),  
    'Temperature_4': test_data_pivot['Temperature_4'].mean(),  
    'Distance_1': 0,  
    'Distance_2': 0,  
    'Distance_3': 0,  
    'Distance_4': 0,  
    'Holiday': ''
}
training_data = training_data_pivot.fillna(value=training_fill_values)
test_data = test_data_pivot.fillna(value=test_fill_values)

In [15]:
training_data['Date'] = pd.to_datetime(training_data['Date'])
training_data['DateInWeek'] = training_data['Date'].dt.day_name()
test_data['Date'] = pd.to_datetime(test_data['Date'])
test_data['DateInWeek'] = test_data['Date'].dt.day_name()

In [16]:
bins = list(range(0, 25))
labels = ['{}-{}'.format(i, i + 1) for i in bins[:-1]]

In [17]:
training_data['Timestamp'] = pd.to_datetime(training_data['Timestamp'])
training_data['Time'] = training_data['Timestamp'].dt.time
test_data['Timestamp'] = pd.to_datetime(test_data['Timestamp'])
test_data['Time'] = test_data['Timestamp'].dt.time
#data = data.drop(columns=['Timestamp'])

In [18]:
training_data['Hour'] = training_data['Time'].apply(lambda x: x.hour)
training_data['TimeInterval'] = pd.cut(training_data['Hour'], bins=bins, labels=labels, right=False)
test_data['Hour'] = test_data['Time'].apply(lambda x: x.hour)
test_data['TimeInterval'] = pd.cut(test_data['Hour'], bins=bins, labels=labels, right=False)

In [19]:
def hour_to_part(hour):
    if (6<=hour<=12): return "Morning" 
    elif (12<hour<=18): return "Afternoon"
    elif (18<hour<=24): return "Evening"
    else: return "Night"
 
training_data['PartOfDay'] = training_data['Hour'].apply(hour_to_part)
test_data['PartOfDay'] = test_data['Hour'].apply(hour_to_part)

In [20]:
training_data['Date'] = pd.to_datetime(training_data['Date'])
training_data['Year'] = training_data['Date'].dt.year
training_data['Month'] = training_data['Date'].dt.month
test_data['Date'] = pd.to_datetime(test_data['Date'])
test_data['Year'] = test_data['Date'].dt.year
test_data['Month'] = test_data['Date'].dt.month

In [21]:
def month_to_season(month):
    if (3<=month<=5): return "Spring"
    elif (6<=month<=8): return "Summer"
    elif (9<=month<=11): return "Autumn"
    else: return "Winter"

training_data['Season'] = training_data['Month'].apply(month_to_season)
test_data['Season'] = test_data['Month'].apply(month_to_season)

In [22]:
training_data = training_data.dropna(subset=['Value'])
test_data = test_data.dropna(subset=['Value'])

In [24]:
num_training_splits = len(training_data) // 300000 + 1
num_test_splits = len(test_data) // 300000 + 1
    
for i in range(num_training_splits):
    
    start_row = i * 300000
    end_row = (i + 1) * 300000
    
    split_df = training_data.iloc[start_row:end_row]

    split_df.to_csv(f'../dataset/preprocessed-training-data/power-laws-forecasting-energy-consumption-preprocessed-training-data-split_{i + 1}.csv', index=False)
    
for i in range(num_test_splits):
    
    start_row = i * 300000
    end_row = (i + 1) * 300000
    
    split_df = test_data.iloc[start_row:end_row]
    split_df.to_csv(f'../dataset/preprocessed-test-data/power-laws-forecasting-energy-consumption-preprocessed-test-data-split_{i + 1}.csv', index=False)